{% extends 'templates/web.twig' %}

{% block content %}
<form method="post" action="{{ url_for('auth.login') }}">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Usuário</label>
    <input type="text" name="username" class="form-control" id="inputUsername" value="{{ old.username }}" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" value="{{ old.password }}" id="inputPassword">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}